<!--
<div style="height: 300px; overflow: hidden;">
    <img src="./app/assets/images/market.jpg" alt="Market Image" class="img-responsive">
</div>
-->
<h1 class="text-center" style="margin-bottom: 60px;">Product List Application</h1>
<div class="row">
    <div class="col-md-offset-1 col-md-4 text-center">
        <h4 style="margin-top: 120px;">Show your your products to the world in a simple a attractive way. Let the app do the job for you.</h4>
    </div>
    <div class="col-md-offset-1 col-md-6">
        <img src="./app/assets/images/market.jpg" alt="Market Image" class="img-responsive" style="border-radius: 20px;">
    </div>
</div>
<div class="row" style="margin-top: 80px;">
    <div class="col-md-offset-1 col-md-6 text-center">
        <img src="./app/assets/images/market-2.jpg" alt="Market Image" class="img-responsive" style="border-radius: 20px;">
    </div>
    <div class="col-md-offset-1 col-md-4">
        <h4 style="margin-top: 120px;">Track what the customers are buying and watching. Analyze all this data in order for your business to grow exponentially.</h4>
    </div>
</div>